@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
img {
  width: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  margin-bottom: 35%;
}

h6 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.start-buttons {
  display: block;
  height: 6vh;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 3%;
}

#login-text {
  color: #00c5d3;
}
