<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="start-page"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <img src="../../../assets/logo.png" alt="logo" />
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating"
      ><ion-icon name="mail-outline"></ion-icon> Email</ion-label
    >
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"
      ><ion-icon name="lock-open-outline"></ion-icon>Password</ion-label
    >
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-button expand="block" color="primary" shape="round">
    <h6>LOGIN</h6>
  </ion-button>

  <ion-item lines="none">
    <ion-label class="ion-text-center" color="medium"
      >Forgot password?</ion-label
    >
  </ion-item>
</ion-content>
